body {
    background-color: rgb(241, 252, 249);
}

#calculator > #screen {
    display: flex;
    border: 1px rgb(117, 117, 117) solid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    color: rgb(75, 74, 74);
    border-radius: 10px;
    background-color: rgb(235, 233, 233);

}
#zer {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}
#clear {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(255, 213, 75);
}
#calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 1%;
    padding: 5%;
    justify-content: center;
    margin-top: 12%;
}
button {
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: rgb(112, 192, 165);
}
.btno {
    background-color: rgb(18, 133, 108);
}
#footer {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}